body {
  font-size: 0.75rem;
  letter-spacing: 0.016rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}
h1 {
  font-size: 6rem;
  letter-spacing: -0.09rem;
  font-weight: 300;
}
h2 {
  font-size: 3.75rem;
  letter-spacing: -0.03rem;
  font-weight: 300;
}
h3 {
  font-size: 3.75rem;
  letter-spacing: -0.03rem;
  font-weight: 400;
}
h4 {
  font-size: 3.75rem;
  letter-spacing: -0.03rem;
  font-weight: 400;
}
h5 {
  font-size: 1.5rem;
  letter-spacing: -0.03rem;
  font-weight: 400;
}
h6 {
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
}
button {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
// subtitle1
// subtitle2
