<div class="bg-white p-6 page-container">
    <h6 class="mb-6">New Upload</h6>
    <!-- <div class="flex flex-wrap">
        <div class="lg:basis-1/2 basis-full">
            <kendo-stepper [style.width.px]="150" [steps]="steps" stepType="full" orientation="vertical">
            </kendo-stepper>
            
        </div>
        <div class="lg:basis-1/2 basis-full">

        </div>
    </div> -->
    <div class="flex flex-wrap">
        <div class="w-[12.5rem]">
            <kendo-stepper [style.width.px]="150" [steps]="steps" stepType="full" orientation="vertical">
            </kendo-stepper>
        </div>
        <div class="w-l-col border p-6">
            <!-- <app-select></app-select> -->
            <app-source></app-source>
            <!-- <app-upload></app-upload> -->
        </div>
    </div>
</div>