<div class="p-4 bg-gray-bg min-h-screen">
    <div class="timeline pl-14">
        <small class="bg-white border rounded-full px-3 py-1.5">2021</small>
        <div class="pl-6 pt-3">
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
        </div>
        <small class="bg-white border rounded-full px-3 py-1.5">2021</small>
        <div class="pl-6 pt-3">
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
            <div class="content pb-11 border-l border-close relative leading-none">
                <small class="date uppercase absolute left-[-2.75rem] top-0.5">30 Oct</small>
                <p class="relative pl-3">Created new case number 025</p>
            </div>
        </div>
    </div>
</div>