<div class="p-14">
<div class="flex flex-wrap rounded-lg drop-shadow-2xl overflow-hidden">
  <div class="lg:basis-1/2 basis-full bg-primary-400 lg:h-screen flex flex-col justify-center items-center p-10">
    <img src="../../assets/img/login-bg.svg" class="h-96" alt="">
    <h6 class="text-white pt-8">Faster Way To Process The Data, Eliminate Down Time Secure Your Data & More
      Productive!!!</h6>
  </div>
  <div class="lg:basis-1/2 basis-full bg-white lg:h-screen flex flex-col justify-center items-center">
    <div class="w-96 px-5 py-10 text-center">
      <div class="w-60 mx-auto mb-3.5">
        <img src="../../assets/img/logo.svg" alt="">
        <p class="text-right text-primary-300">v.10.0.0</p>
      </div>
        <small class="tracking-widest font-medium text-close">WELCOME TO VENIO SYSTEMS</small>
        <form action="" class="mt-[1.875rem]">
        <div class="form-group mb-5">
          <label for="">Username</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" class="form-control">
          <img src="../../assets/img/icons/view_password.svg" alt="" class="w-[1.375rem] absolute right-2.5 top-3">
        </div>
        <div class="text-right mb-6 mt-2.5">
          <a href="">
            <small class="tracking-widest font-medium text-close hover:text-primary-400">FORGOT PASSWORD</small>
          </a>
        </div>
        <button class="v-btn-login">login</button>
      </form>
      <!-- <button>Toggle Popup</button> -->
    <kendo-popup [anchor]="$any(anchor)" *ngIf="show">
      <div class="text-left" style="padding: 30px; background-color: #fcf7f8">
        <div class="flex">
          <div></div>
          <div>
            <h6>Terms of Use</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <button>ACCEPT</button>
          </div>
        </div>
      </div>
    </kendo-popup>
      <p class="mt-6">By Clicking login, you will accepting our
        <span class="text-primary-400" #anchor kendoButton (click)="show = !show">Terms of use & Privacy policy.</span>
      </p>
    </div>
  </div>
</div>
</div>