<div class="grid grid-cols-4 grid-flow-row gap-4">
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-secondary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/case.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>case</p>
            <h3 class="font-medium text-text-color">12</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-primary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/production.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>Production</p>
            <h3 class="font-medium text-text-color">18</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-secondary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/review.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>review set</p>
            <h3 class="font-medium text-text-color">6</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-secondary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/case.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>slipsheet</p>
            <h3 class="font-medium text-text-color">14</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-primary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/production.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>production set</p>
            <h3 class="font-medium text-text-color">7</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-secondary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/email.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>email</p>
            <h3 class="font-medium text-text-color">16</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    <div class="flex items-center p-5 border bg-white rounded relative">
        <div class="bg-secondary-200 h-14 w-14 inline-flex items-center justify-between rounded">
            <img src="../../assets/img/icons/case.svg" class="h-6 mx-auto" alt="">
        </div>
        <div class="uppercase pl-4 text-gray-400 tracking-widest">
            <p>questionnaire</p>
            <h3 class="font-medium text-text-color">4</h3>
            <p>Total</p>
        </div>
        <button class="v-btn-add absolute right-2 top-2">
            +
        </button>
    </div>
    

</div>