<app-dashboard-topbar></app-dashboard-topbar>
<div class="flex flex-wrap">
    <div class="lg:basis-4/6 basis-full">
        <div class="flex flex-wrap">
            <div class="lg:basis-1/2 basis-full pr-6 pb-6">
                <div class="p-4 rounded-lg shadow-lg bg-white">
                    <div class="flex justify-between">
                        <p class="subtitle-sm uppercase">Cases</p>
                    </div>
                    <div class="flex justify-between p-5 pb-2  text-center">
                        <div class="red text-warning">
                            <h4 class="bg-warning-bg py-3 px-6 rounded mb-3">80</h4>
                            <small class="uppercase">All cases</small>
                        </div>
                        <div class="blue text-secondary-400">
                            <h4 class="bg-secondary-200 py-3 px-6 rounded mb-3">80</h4>
                            <small class="uppercase">non eca</small>

                        </div>
                        <div class="green text-primary-300">
                            <h4 class="bg-primary-200 py-3 px-6 rounded mb-3">80</h4>
                            <small class="uppercase">eca</small>

                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:basis-1/2 basis-full pr-6 pb-6">
                <div class="p-4 rounded-lg shadow-lg bg-white">
                    <div class="flex justify-between">
                        <p class="subtitle-sm uppercase">Documents</p>
                    </div>
                    <div class="flex justify-between p-5 pb-2  text-center">
                        <div>
                            <span
                                class="mx-auto mb-2.5 bg-secondary-200 rounded-full h-10 w-10 flex items-center justify-center">
                                <img src="../../assets/img/icons/upload.svg" class="w-6" alt="">
                            </span>
                            <h5 class="leading-none">3867</h5>
                            <small>ALL DOCUMENTS</small>
                        </div>
                        <div>
                            <span
                                class="mx-auto mb-2.5 bg-secondary-200 rounded-full h-10 w-10 flex items-center justify-center">
                                <img src="../../assets/img/icons/document.svg" class="w-6" alt="">
                            </span>
                            <h5 class="leading-none">156 GB</h5>
                            <small>Total size</small>
                        </div>


                    </div>
                </div>
            </div>
            <div class="lg:basis-1/2 basis-full pr-6 pb-6">
                <div class="p-4 rounded-lg shadow-lg bg-white">
                    <div class="flex justify-between">
                        <p class="subtitle-sm uppercase">Legal Hold</p>
                    </div>
                    <div class="flex flex-wrap justify-between p-5 pb-2 text-center mx-[-0.938rem]">
                        <div class="green text-primary-500 px-[0.938rem] mb-3">
                            <h6 class="bg-primary-200 py-1 px-4 rounded mb-1">80</h6>
                            <small class="uppercase">All</small>

                        </div>
                        <div class="red text-secondary-500 px-[0.938rem] mb-3">
                            <h6 class="bg-secondary-200 py-1 px-4 rounded mb-1">80</h6>
                            <small class="uppercase">notification</small>
                        </div>
                        <div class="red text-warning px-[0.938rem]  mb-3">
                            <h6 class="bg-warning-bg py-1 px-4 rounded mb-1">80</h6>
                            <small class="uppercase">accepted</small>
                        </div>
                        <div class="red text-warning px-[0.938rem] mb-3">
                            <h6 class="bg-warning-bg py-1 px-4 rounded mb-1">80</h6>
                            <small class="uppercase">pending</small>
                        </div>
                        <div class="blue text-primary-400 px-[0.938rem]">
                            <h6 class="bg-primary-200 py-1 px-4 rounded mb-1">80</h6>
                            <small class="uppercase">lifted</small>

                        </div>

                    </div>
                </div>
            </div>
            <div class="lg:basis-1/2 basis-full pr-6 pb-6">
                <div class="p-4 rounded-lg shadow-lg bg-white">
                    <div class="flex justify-between">
                        <p class="subtitle-sm uppercase">Tags</p>
                    </div>
                    <table class="w-full">
                        <tr>
                            <th>name</th>
                            <th>case</th>
                            <th>associated files</th>
                        </tr>
                        <tr>
                            <td>Video</td>
                            <td>Alpha</td>
                            <td>video.of.mov</td>
                        </tr>
                        <tr>
                            <td>Video</td>
                            <td>Alpha</td>
                            <td>video.of.mov</td>
                        </tr>
                        <tr>
                            <td>Video</td>
                            <td>Alpha</td>
                            <td>video.of.mov</td>
                        </tr>
                        <tr>
                            <td>Video</td>
                            <td>Alpha</td>
                            <td>video.of.mov</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="lg:basis-1/2 basis-full pr-6 pb-6">
                <div class="p-4 rounded-lg shadow-lg bg-white">
                    <div class="flex justify-between">
                        <p class="subtitle-sm uppercase">Production</p>
                    </div>
                    <div class="flex justify-between p-5 pb-2  text-center">
                        <div>
                            <span
                                class="mx-auto mb-2.5 bg-secondary-200 rounded-full h-10 w-10 flex items-center justify-center">
                                <img src="../../assets/img/icons/production.svg" class="w-6" alt="">
                            </span>
                            <h5 class="leading-none">3867</h5>
                            <small>ALL DOCUMENTS</small>
                        </div>
                        <div>
                            <span
                                class="mx-auto mb-2.5 bg-secondary-200 rounded-full h-10 w-10 flex items-center justify-center">
                                <img src="../../assets/img/icons/upload.svg" class="w-6" alt="">
                            </span>
                            <h5 class="leading-none">156 GB</h5>
                            <small>Total size</small>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:basis-2/6 basis-full">
        <app-timeline></app-timeline>
    </div>
</div>
